<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.7.2" targetFramework="net48" />
  <package id="CrashReporter.NET.Official" version="1.6.0" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.1210.39" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
</packages>