<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ViVeTool_GUI.FeatureScanner.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    
  </startup>
  <appSettings>
    <add key="TelerikWinFormsThemeName" value="Fluent" />
  </appSettings>
  <userSettings>
    <ViVeTool_GUI.FeatureScanner.My.MySettings>
      <setting name="SymbolPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DebuggerPath" serializeAs="String">
        <value />
      </setting>
      <setting name="UseSystemTheme" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DarkMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserLanguage" serializeAs="String">
        <value />
      </setting>
    </ViVeTool_GUI.FeatureScanner.My.MySettings>
  </userSettings>
</configuration>